.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

.switchBtn {
  font-size: 19px;
  font-family: "Gotham";
  font-weight: 600;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  border: 1px solid white;
}
